
  <div class="navbar-lewagon p-2 m-2">
    <h1><%= @list.name %></h1>
  </div>
  <% if @list.picture.attached? %>
  <%= cl_image_tag @list.picture.key, height: 100, width: 100, crop: :fill%>
  <% end %>


<div class="container p-2 border">
  <ul>

    <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= image_tag bookmark.movie.poster_url, width: 50, height: 50 %> | <%= bookmark.movie.title %> | <%= bookmark.comment %>
      <%= link_to "Delete",
        bookmark_path(bookmark),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </li>
    <% end %>
  </ul>

  <%= link_to "Add movie", new_list_bookmark_path(@list) %>
  <%= link_to "Back to the lists", root_path %>

  <div class="p-4">
    <ul>
      <% @list.reviews.each do |review| %>
        <li> <%= review.content %> </li>
      <% end %>
    </ul>
  </div>


  <%= simple_form_for [@list, @review] do |f| %>
      <%= f.input :content %>
      <%= f.button :submit%>
  <% end %>

</div>
