
<div class="container">
  <div class="navbar-lewagon">
    <h1>This list</h1>
  </div>
    <%= cl_image_tag @list.picture.key, height: 100, width: 100, crop: :fill%>


  <ul>

    <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= image_tag bookmark.movie.poster_url, width: 50, height: 50 %> | <%= bookmark.movie.title %> | <%= bookmark.comment %>
      <%= link_to "Delete",
        bookmark_path(bookmark),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </li>
    <% end %>
  </ul>

  <%= link_to "Add movie", new_list_bookmark_path(@list) %>
  <%= link_to "Back to the lists", root_path %>

</div>
